In [1]:
#importing important libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [2]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done ips:

1.first get the webpage https://www.naukri.com/

2.Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data.

In [3]:
#open the homepage
driver.get("https://www.naukri.com/")

In [4]:
#enter the text in search bar
search_bar=driver.find_element_by_id('qsb-keyword-sugg')
search_bar.send_keys('Data Analyst')

In [5]:
#enter the text in Location bar
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [6]:
#Clicking on the button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [7]:
##Finding tags for title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles=[]
for i in title_tags[:10]:
    job_titles.append(i.text)

In [8]:
#FInding tags for company name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_name=[]
for i in companies_tags[:10]: 
    companies_name.append(i.text)

In [9]:
#Finding tags for experience required
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

experience_required=[]
for i in exp_tags[:10]:
    experience_required.append(i.text)

In [10]:
#Finding tags for company location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

job_location=[]
for i in location_tags[:10]:
    job_location.append(i.text)

In [11]:
#Printing lengths
print(len(job_titles),len(companies_name),len(experience_required),len(job_location))

10 10 10 10

In [12]:
#Creating DataFrame for the data found
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=companies_name
jobs['Experience_Required']=experience_required
jobs['Location']=job_location

jobs

,Title,Company,Experience_Required,Location
0,Business Data Analyst(BigId) - Capco - Bangalore,Capco Technologies Pvt Ltd,3-8 Yrs,Bangalore/Bengaluru
1,Data Analyst - Flipkart Analytics,Flipkart,0-3 Yrs,Bangalore/Bengaluru(Bellandur)
2,Senior Data Analyst,Pioneer Business Solutions,6-11 Yrs,Bangalore/Bengaluru
3,Sr Data Analyst,Pioneer Business Solutions,3-8 Yrs,Bangalore/Bengaluru
4,Business Data Analyst - Database Design/Mining,AugmatrixGo,2-5 Yrs,Bangalore/Bengaluru
5,Urgent Openings For Data Analyst / Business An...,Flipkart,1-6 Yrs,Bangalore/Bengaluru
6,Software Technologist II - Data Analyst,Philips India Limited,6-11 Yrs,(WFH during Covid)
7,Hiring For Data Analyst - Payment System Intel...,Genpact,4-9 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Kwalee ltd.,5-10 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
9,Data Analyst,Novel Office,0-3 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.#

In [13]:
#importing important libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [14]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [15]:
#open the homepage
driver.get("https://www.naukri.com/")

In [16]:
#enter the text in search bar
search_bar=driver.find_element_by_id('qsb-keyword-sugg')
search_bar.send_keys('Data Scientist')

In [17]:
#enter the text in Location bar
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [18]:
#Clicking on the button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [23]:
##Finding tags for title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles=[]
for i in title_tags[:10]:
    job_titles.append(i.text)

In [20]:
##FInding tags for company name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_name=[]
for i in companies_tags[:10]: 
    companies_name.append(i.text)

In [21]:
#Finding tags for company location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

job_location=[]
for i in location_tags[:10]:
    job_location.append(i.text)

In [24]:
#Printing lengths
print(len(job_titles),len(companies_name),len(job_location))

10 10 10

In [25]:
#Creating DataFrame for the data found
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=companies_name
jobs['Location']=job_location

jobs

,Title,Company,Location
0,Senior Data Scientist,Kwalee India Pvt Ltd.,Bangalore/Bengaluru
1,Data Scientist,Visa,Bangalore/Bengaluru
2,Lead Data Scientist,Team4Progress,"Mumbai, Pune, Bangalore/Bengaluru"
3,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
4,Senior Data Scientist / Tech Lead - SQL / Pyth...,Exploro Solutions,(WFH during Covid)
5,Senior / Lead Data Scientist,CoreEdge Solutions,"Pune, Chennai, Bangalore/Bengaluru"
6,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
7,"Data Scientist, Agribusiness Intelligence",IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru"
8,Data Scientist,Kwalee India Pvt Ltd.,(WFH during Covid)
9,Data Scientist,Binary Fountain Solutions India Pvt. Ltd,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
      1. first get the webpage https://www.naukri.com/
      2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
      3. Then click the search button.
      4. Then apply the location filter and salary filter by checking the respective boxes
      5. Then scrape the data for the first 10 jobs results you get.
      6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [26]:
#importing important libraries
import pandas as pd
import selenium
from selenium import webdriver
warnings.filterwarnings('ignore')

In [27]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [28]:
#open the homepage
driver.get("https://www.naukri.com/")

In [29]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")

search_field_designation.send_keys("Data Scientist")

In [30]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [31]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
#entering the required details
loc_filter=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for f in loc_filter:
    if f.text=='Delhi / NCR':
        f.click()
        break

In [33]:
#entering the required details for salary
sal_filter=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in sal_filter:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [34]:
##Finding tags for title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles=[]
for i in title_tags[:10]:
    job_titles.append(i.text)

In [35]:
##Finding tags for company location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

job_location=[]
for i in location_tags[:10]:
    job_location.append(i.text)

In [36]:
#FInding tags for company name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_name=[]
for i in companies_tags[:10]: 
    companies_name.append(i.text)

In [37]:
#Finding tags for experience required
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

experience_required=[]
for i in exp_tags[:10]:
    experience_required.append(i.text)

In [38]:
#printing lengths
print(len(job_titles),len(companies_name),len(experience_required),len(job_location))

10 10 10 10

In [39]:
#Creating DataFrame for the data found
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=companies_name
jobs['Experience_Required']=experience_required
jobs['Location']=job_location

jobs

,Title,Company,Experience_Required,Location
0,Data Scientist,Think i,0-2 Yrs,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,..."
1,Data Scientist,ThinkBumblebee Analytics Pvt. Ltd.,2-6 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"
2,Data Scientist III-2,Concentrix Daksh Services,3-8 Yrs,(WFH during Covid)
3,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,4-7 Yrs,Gurgaon/Gurugram
4,Data Scientist,MoMagic Technologies Pvt. Ltd.,4-6 Yrs,Delhi / NCR
5,Data Scientist,MoMagic Technologies Pvt. Ltd.,4-6 Yrs,Noida(Sector-126 Noida)
6,Urgent Hiring || Data Scientist || Delhi,Shriram Automall India Limited,2-7 Yrs,Noida(Sector-126 Noida)
7,Data Scientist,SVK Global Solutions Private Limited,6-10 Yrs,Delhi / NCR
8,Data Scientist Internship,iHackers Inc,0-1 Yrs,Noida
9,Data Scientist,Optum Global Solutions (India) Private Limited,2-6 Yrs,New Delhi

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

In [40]:
#importing important libraries
import selenium
import pandas as pd
from selenium import webdriver

In [41]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [42]:
#open the homepage
driver.get("https://www.flipkart.com/")

In [43]:
#providing the required details
search_prod = driver.find_element_by_name('q')
search_prod.send_keys("sunglasses")

In [44]:
#clicking the search button
search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [45]:
#creating empty list to store value and printing brand name on page 1
brand = []
brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_name = []
for i in brand:
    brand_name.append(i.text)

len(brand_name)

40

In [46]:
#creating empty list to store value and printing description of product on page 1
desc = []
desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

des = []
for i in desc:
    des.append(i.text)
    
len(des)

40

In [47]:
#creating empty list to store value and printing price of products on page 1
pric = []
pric = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

price = []
for i in pric:
    price.append(i.text)
    
len(price)

40

In [48]:
#creating empty list to store value and printing discount of products on page 1
dis = []
dis = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

disc = []
for i in dis:
    disc.append(i.text)
    
len(disc)

40

In [49]:
#xpath to get on page 2
next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [50]:
#creating empty list to store value and printing brand name on page 2
brand2 = []
brand2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in brand2:
    brand_name.append(i.text)
    
len(brand_name)

80

In [51]:
#creating empty list to store value and printing description of product on page 2
desc2 = []
desc2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in desc2:
    des.append(i.text)
    
len(des)

80

In [52]:
##creating empty list to store value and printing price of products on page 2
pric2 = []
pric2 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in pric2:
    price.append(i.text)
    
len(price)

80

In [53]:
#creating empty list to store value and printing discount of products on page 2
dis2 = []
dis2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

for i in dis2:
    disc.append(i.text)
    
len(disc)

80

In [54]:
#code to get on page 3
target_url = []
url = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
for i in url:
    target_url.append(i.get_attribute('href'))
    
driver.get(target_url[1])

In [55]:
#creating empty list to store value and printing brand name on page 3
brand3 = []
brand3 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in brand3:
    brand_name.append(i.text)
    
len(brand_name)

120

In [56]:
#creating empty list to store value and printing description of product on page 3
desc3 = []
desc3 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in desc3:
    des.append(i.text)

len(des)

120

In [57]:
#creating empty list to store value and printing price of products on page 3
pric3 = []
pric3 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in pric3:
    price.append(i.text)
    
len(price)

120

In [58]:
#creating empty list to store value and printing discount of products on page 3
dis3 = []
dis3 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in dis3:
    disc.append(i.text)
    
len(disc)

120

In [59]:
#printing length
print(len(brand_name),len(disc),len(price),len(des))

120 120 120 120

In [60]:
#getting data from 0 to 100
brand_name = brand_name[0:100]
price= price[0:100]
disc = disc[0:100]
des = des[0:100]

In [61]:
#creating DataFrame from above lists
product_info = pd.DataFrame({})
product_info['Brand'] = brand_name
product_info['Price'] = price
product_info['Discounts'] = disc
product_info['Description'] = des

In [62]:
#result
product_info

,Brand,Price,Discounts,Description
0,Elligator,₹248,90% off,UV Protection Round Sunglasses (54)
1,SRPM,₹188,85% off,UV Protection Wayfarer Sunglasses (56)
2,SUNBEE,₹276,83% off,"UV Protection, Polarized, Mirrored Round Sungl..."
3,PIRASO,₹200,87% off,UV Protection Aviator Sunglasses (54)
4,Fastrack,₹513,35% off,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...,...
95,NuVew,₹330,73% off,UV Protection Sports Sunglasses (73)
96,NuVew,₹345,62% off,"UV Protection, Mirrored, Night Vision, Riding ..."
97,Poland,₹165,66% off,UV Protection Wayfarer Sunglasses (Free Size)
98,PHENOMENAL,₹205,84% off,"UV Protection, Mirrored Round Sunglasses (Free..."
99,hipe,₹233,76% off,"UV Protection, Gradient, Riding Glasses Wayfar..."

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone

You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/
p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review_summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [63]:
##importing important libraries
import selenium
import pandas as pd
from selenium import webdriver

In [64]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [65]:
#open the homepage
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [66]:
#clicking the search button
searchbtn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
searchbtn.click()

In [67]:
#creating empty list to store data
ratings = []
review_summ = []
full_reviews = []

# looping through 10 pages to get 100 reiews(10reviews/page)
for i in range (0, 11):
    #getting the information div by class
    divs = driver.find_elements_by_class_name("_2wzgFH")
    for div in divs:
        #appending info to the lists
        ratings.append(div.find_element_by_class_name('_3LWZlK').text)
        review_summ.append(div.find_element_by_class_name('_2-N8zT').text)
        full_reviews.append(div.find_element_by_class_name('t-ZTKy').text)
    next_page = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        #go to next page
        driver.get(next_page[1].get_attribute('href'))
    except:
        driver.get(next_page[0].get_attribute('href'))
#creatinf dataframe
reviews = pd.DataFrame({'Rating':ratings[:100],
                'Short Description':review_summ[:100],
                'Full review':full_reviews[:100]})
print(reviews)

   Rating  Short Description  \
0       5          Brilliant
1       5     Simply awesome
2       5   Perfect product!
3       5  Worth every penny
4       5          Fabulous!
..    ...                ...
95      5             Super!
96      5          Just wow!
97      5  Terrific purchase
98      5            Awesome
99      3     Decent product

                                          Full review
0   The Best Phone for the Money\n\nThe iPhone 11 ...
1   Really satisfied with the Product I received.....
2   Amazing phone with great cameras and better ba...
3   Previously I was using one plus 3t it was a gr...
4   This is my first iOS phone. I am very happy wi...
..                                                ...
95  This is my first ever iPhone.\nAnd I truly don...
96  The ultimate performance\nCamera is superb\nTh...
97  I use a Note10+ and have been using both iOS a...
98  The phone is completely good\nAs far as camera...
99  Everything u ll like it when u use this iPhone...

[100 rows x 3 columns]

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

Note: All the steps required during scraping should be done through code only and not manually.

In [68]:
###importing important libraries
import selenium
import pandas as pd
from selenium import webdriver

In [69]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [70]:
#open the homepage
driver.get("https://www.flipkart.com/")

In [71]:
#finding the element and sending keys for search as required
search_prod = driver.find_element_by_name('q')
search_prod.send_keys("sneakers")

In [72]:
#click on search button
search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [73]:
#Creating empty list and storing brand name, description and price of page 1
Brand_name1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Brand_name1
Brand_name2=[]
for i in Brand_name1:
    Brand_name2.append(i.text)


Product_des1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_des1
Product_des2=[]
for i in Product_des1:
    Product_des2.append(i.text)
    

Price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price1
Price2=[]
for i in Price1:
    Price2.append(i.text)
    
Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount2=[]
for i in Discount:
    Discount2.append(i.text)

In [74]:
#parsing the code to get on page 2
second_page=driver.find_element_by_xpath('//nav/a[@class="_1LKTO3" ]/span[text() = "Next"]')
second_page1=second_page.click()

In [75]:
##Creating empty list and storing brand name, description and price of page 2
Brand_name3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Brand_name3
Brand_name4=[]
for i in Brand_name3:
    Brand_name4.append(i.text)
Brand_name4

Product_des3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_des4=[]
for i in Product_des3:
    Product_des4.append(i.text)

Price3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price4=[]
for i in Price3:
    Price4.append(i.text)

Discount3=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount4=[]
for i in Discount3:
    Discount4.append(i.text)

In [76]:
##parsing the code to get on page 3
second_page=driver.find_element_by_xpath('//nav/a[@class="_1LKTO3" ]/span[text() = "Next"]')
second_page1=second_page.click()

In [77]:
##Creating empty list and storing brand name, description and price of page 3
Brand_name5=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Brand_name6=[]
for i in Brand_name5:
    Brand_name6.append(i.text)


Product_des5=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_des6=[]
for i in Product_des5:
    Product_des6.append(i.text)


Price5=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price6=[]
for i in Price5:
    Price6.append(i.text)


Discount5=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount6=[]
for i in Discount5:
    Discount6.append(i.text)

In [78]:
#appending all the data into single list of brand name, description, price and discount
Brand_name=Brand_name2+Brand_name4+Brand_name6
Product_des=Product_des2+Product_des4+Product_des6
Price=Price2+Price4+Price6
Discount=Discount2+Discount4+Discount6

In [79]:
#Creating DataFrame
Sneakers=pd.DataFrame({})
Sneakers["Brand_name"]=Brand_name[0:80]
Sneakers["Product_Description"]=Product_des[0:80]
Sneakers["Price"]=Price[0:80]
Sneakers["Discount"]=Discount[0:80]

In [80]:
#result
Sneakers

      Brand_name                           Product_Description Price Discount
0          BIRDE                 Sports Shoes Sneakers For Men  ₹299  70% off
1       HOTSTYLE  White Boots || High Tops || Sneakers For Men  ₹654  34% off
2       FOOTGRAB                              Sneakers For Men  ₹549  45% off
3        Numenzo                              Sneakers For Men  ₹479  63% off
4       Kreverse                              Sneakers For Men  ₹245  75% off
..           ...                                           ...   ...      ...
75         PLOTA                              Sneakers For Men  ₹499  50% off
76  Robbie jones          Trendy Casual Shoes Sneakers For Men  ₹499  77% off
77           HOC                      RS-Z BP Sneakers For Men  ₹449  81% off
78        BRUTON              Puma Wired Cage Sneakers For Men  ₹474  50% off
79         PLOTA                              Sneakers For Men  ₹499  76% off

[80 rows x 4 columns]

due to some product are out of stock no data is available thats why i have taken data upto 80

# Q7: Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [81]:
###importing important libraries
import pandas as pd
import selenium
from selenium import webdriver

In [82]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [83]:
#open the homepage
driver.get("https://www.myntra.com/shoes")

In [84]:
#finding by xpath and clicking on price range list
search_range = driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")

click=[]
for i in search_range:
    click.append(i.text)

click

['Casual Shoes(20898)',
 'Flats(16652)',
 'Heels(15830)',
 'Sports Shoes(9379)',
 'Formal Shoes(6608)',
 'Booties(197)',
 'Rs. 199 to Rs. 7149(67220)',
 'Rs. 7149 to Rs. 14099(2172)',
 'Rs. 14099 to Rs. 21049(163)',
 'Rs. 21049 to Rs. 27999(7)']

In [85]:
#selecting price range
for i in search_range:
    if i.text == 'Rs. 7149 to Rs. 14099(2120)':
        i.click()

In [86]:
#finding and selecting the colour list
colors = []
color = driver.find_elements_by_xpath("//label[@class='common-customCheckbox']")

for i in color:
    colors.append(i.text)

colors

['Black (17520)',
 'Brown (5656)',
 'White (4906)',
 'Grey (4707)',
 'Navy Blue (4547)',
 'Tan (4105)',
 'Blue (3961)']

In [87]:
#selecting the required colour as asked
for i in color:
    if i.text == 'Black (718)':
        i.click()

In [88]:
#creating empty list to store data
brand = [] 
descr = [] 
price = []

In [89]:
#getting brand name, description and price of products on page 1
brand_name = driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand_name:
    brand.append(i.text)
    
short_desc = driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in short_desc:
    descr.append(i.text)
    
value = driver.find_elements_by_xpath("//div[@class='product-price']")
for i in value:
    price.append(i.text)

In [90]:
#parsing the code to get on page 2
next_page = driver.find_element_by_xpath("//li[@class='pagination-next']")
next_page.click()

In [91]:
#getting brand name, description and price of products on page 1
brand_name2 = driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand_name2:
    brand.append(i.text)
    
short_desc2 = driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in short_desc2:
    descr.append(i.text)
    
value2 = driver.find_elements_by_xpath("//div[@class='product-price']")
for i in value2:
    price.append(i.text)

In [92]:
#storing all the values into DataFrame
shoes_descr = pd.DataFrame({})
shoes_descr["Brand"] = brand
shoes_descr["Price"] = price
shoes_descr["Description"] = descr

In [93]:
#result
shoes_descr

,Brand,Price,Description
0,H&M,Rs. 2699,Chunky Combat Boots
1,HIGHLANDER,Rs. 1990,Men Solid Sneakers
2,Newfeel By Decathlon,Rs. 899,Men Walking Shoes
3,ADIDAS,Rs. 2009Rs. 2999(33% OFF),Men Woven Design Running Shoes
4,TWIN TOES,Rs. 799Rs. 999(Rs. 200 OFF),Women Colourblocked Sneakers
...,...,...,...
95,Skechers,Rs. 5999,Men ELITE FLEX Sneakers
96,Mochi,Rs. 3990,Men Textured Leather Oxfords
97,Mactree,Rs. 664Rs. 3321(80% OFF),Men Solid Formal Derbys
98,Hush Puppies,Rs. 4499Rs. 4999(10% OFF),Men Textured Formal Derbys
99,U.S. Polo Assn.,Rs. 2519Rs. 3599(30% OFF),Men Solid Loafers

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

As shown in the below image as the tick marked attributes.

In [94]:
#importing important libraries
import pandas as pd
import selenium
from selenium import webdriver

In [95]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [96]:
#open the homepage
driver.get("https://www.amazon.in/")

In [97]:
#searching and filling the web element as required
search_lap = driver.find_element_by_id('twotabsearchtextbox')
search_lap.send_keys("laptop")

In [98]:
#parsing the code to click on search button
search_button = driver.find_element_by_id('nav-search-submit-button')
search_button.click()

In [99]:
#parsing the code to select i7 category
search_i7 = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']")
for i in search_i7:
    if i.text == 'Intel Core i7':
        i.click()
        break

In [100]:
#parsing the code to select i9 category
search_i9 = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']")
for i in search_i9:
    if i.text == 'Intel Core i9':
        i.click()
        break

In [101]:
#creating empty list to store data
title=[]
rating=[]
price=[]

In [102]:
#finding the web element and getting title data
t=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
t[0:10]
for i in t:
    ti=i.text
    title.append(ti)

In [103]:
#finding the web element and getting rating of products data
ra=driver.find_elements_by_xpath("//span[@class='a-size-base']")
ra[0:10]
for i in ra:
    tar=i.text
    rating.append(tar)

In [104]:
#finding the web element and getting product price data
p=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
p[0:10]
for i in p:
    pr=i.text
    price.append(pr)

In [105]:
#creating dataFrame and storing values and printing result
laptop=pd.DataFrame({})
laptop['title']=title[0:10]
laptop['rating']=rating[0:10]
laptop['price']=price[0:10]
laptop

                                               title rating     price
0  LG Gram 17 Ultra-Light Intel Evo 11th Gen Core...     33  1,06,057
1  LG Gram 14 Ultralight Intel Evo 11th Gen Core ...     43    87,999
2  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    537    84,990
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...    895    59,990
4  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....     51    85,911
5  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...     60  1,09,990
6  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...      6  1,13,990
7  HP Pavilion x360 11th Gen Intel Core i7 14-inc...    427    84,990
8  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...      1    88,490
9  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...     15    93,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

Note: All the steps required during scraping should be done through code only and not manually.

In [106]:
#importing important libraries
import pandas as pd
import selenium
from selenium import webdriver

In [107]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [108]:
#open the homepage
driver.get("https://www.ambitionbox.com/")

In [109]:
#finding the element and click on 'Jobs' 
l=driver.find_element_by_xpath("//a[@title='Jobs']")
l.click()

In [110]:
#finding web element and search as required
search_lap = driver.find_element_by_name('ab_jobsSearch')
search_lap.send_keys("Data Scientist")

In [111]:
#Clicking on the button
search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_btn.click()

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

In [112]:
#importing important libraries
import pandas as pd
import selenium
from selenium import webdriver

In [113]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [114]:
#open the homepage
driver.get(" https://www.ambitionbox.com/")

In [115]:
#finding the element and click on 'Company Salaries' 
l=driver.find_element_by_xpath("//a[@title='Company Salaries']")
l.click()

In [116]:
#finding web element and search as required
search_lap = driver.find_element_by_name('CompanyName')
search_lap.send_keys("Data Scientist")

In [117]:
#enter the text in search bar
search_bar=driver.find_element_by_id('jobProfileSearchbox')
search_bar.send_keys('Data Scientist')