In [1]:
#importing Libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException  , ElementNotInteractableException        
from selenium.common import exceptions as ex
import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
 A) Rank
 B) Name
 C) Artist
 D) Upload date
 E) Views

In [2]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [3]:
#Getting Link
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [5]:
try:
    ranking_of_vid=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranking_of_vid:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('No details available')
except StaleElementReferenceException:
    Rank.append('No details available')

In [6]:
Name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('No details available')
except StaleElementReferenceException:
    Name.append('No details available')

In [7]:
Artist
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('No details available')
except StaleElementReferenceException:
    Artist.append('No details available')

In [8]:
try:
    date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in date_list:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('No details available')
except StaleElementReferenceException:
    Upload_Date.append('No details available')

In [9]:
try:
    list1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in list1:
        Views.append(i.text)
except NoSuchElementException:#handling no such element exception
    Views.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    Views.append('No details available')

In [10]:
##creating and printing dataframe
df=pd.DataFrame({})
df['Rank']=Rank
df['Name']=Name
df['Artist']=Artist
df['Upload_date']=Upload_Date
df['Views']=Views[:30]
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.90
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.68
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.06
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.57
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.37
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.79
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.41
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.37
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.29
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.77
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.61
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.47
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.44
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.20
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.20
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.15
22,23.,"""Bailando""[40]",Enrique Iglesias,"April 11, 2014",3.14
23,24.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.14
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.05
27,28.,"""Mi Gente""[45]",J Balvin,"June 29, 2017",3.02
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.02
29,30.,"""Baa Baa Black Sheep""[47]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.01

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/. You need to find following details:

Match title (I.e. 1st ODI)
Series
Place
Date
Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [11]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [12]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [13]:
fixture_link = driver.find_element_by_xpath("//button[@class='navbar-toggler menu-btn menu-icon']")
fixture_link.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=96.0.4664.110)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F30C43+2493507]
	Ordinal0 [0x00ECA4B1+2073777]
	Ordinal0 [0x00DD24D0+1058000]
	Ordinal0 [0x00DFD914+1235220]
	Ordinal0 [0x00DF3787+1193863]
	Ordinal0 [0x00E15943+1333571]
	Ordinal0 [0x00DF35A6+1193382]
	Ordinal0 [0x00E15A2A+1333802]
	Ordinal0 [0x00E25038+1396792]
	Ordinal0 [0x00E1580B+1333259]
	Ordinal0 [0x00DF2314+1188628]
	Ordinal0 [0x00DF316F+1192303]
	GetHandleVerifier [0x010B7BF6+1548950]
	GetHandleVerifier [0x0116461C+2256060]
	GetHandleVerifier [0x00FBC13B+518107]
	GetHandleVerifier [0x00FBB1E0+514176]
	Ordinal0 [0x00ECF53D+2094397]
	Ordinal0 [0x00ED3418+2110488]
	Ordinal0 [0x00ED3552+2110802]
	Ordinal0 [0x00EDCE81+2150017]
	BaseThreadInitThunk [0x7652FA29+25]
	RtlGetAppContainerNamedObjectPath [0x778C7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x778C7A6E+238]

# 3. Scrape the details of selenium exception from guru99.com.

In [14]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [15]:
#Getting Link
driver.get('https://www.guru99.com/')
driver.maximize_window()

In [16]:
#Clicking on selenium
try:
    driver.find_element_by_xpath("//ul[@id='java_technologies']/li[3]/a").click()
    
except NoSuchElementException as e:
    element = WebDriverWait(driver, 10).until(ec.visibility_of_element_located((By.XPATH, "//ul[@id='java_technologies']/li[3]/a")))
    element.click()

In [17]:
#removing popup
try:
    driver.find_element_by_xpath("//div[@class = 'aurora-yne-content aurora-YesNoElement--content']/div[2]/div/button").click()
except:
    pass

In [18]:
#Clicking on exception handeling Tutorial
try:
    driver.find_element_by_xpath("//*[@title = 'Selenium Exception Handling (Common Exceptions List)']").click()
    
except NoSuchElementException as e:
    element = WebDriverWait(driver, 10).until(ec.visibility_of_element_located((By.XPATH,"//*[@title = 'Selenium Exception Handling (Common Exceptions List)']")))
    element.click()
time.sleep(5)

In [19]:
#downloading page source
html = driver.page_source

#reading HTML
df = pd.read_html(html)

In [20]:
df[:3]

[                         Exception name  \
 0            ElementNotVisibleException
 1         ElementNotSelectableException
 2                NoSuchElementException
 3                  NoSuchFrameException
 4               NoAlertPresentException
 5                 NoSuchWindowException
 6        StaleElementReferenceException
 7              SessionNotFoundException
 8                      TimeoutException
 9                    WebDriverException
 10            ConnectionClosedException
 11     ElementClickInterceptedException
 12      ElementNotInteractableException
 13             ErrorInResponseException
 14  ErrorHandler.UnknownServerException
 15         ImeActivationFailedException
 16             ImeNotAvailableException
 17         InsecureCertificateException
 18             InvalidArgumentException
 19         InvalidCookieDomainException
 20          InvalidCoordinatesException
 21          InvalidElementStateExceptio
 22            InvalidSessionIdException
 23       InvalidSwitchToTargetException
 24                  JavascriptException
 25                        JsonException
 26             NoSuchAttributeException
 27       MoveTargetOutOfBoundsException
 28               NoSuchContextException
 29                NoSuchCookieException
 30                    NotFoundException
 31          RemoteDriverServerException
 32                  ScreenshotException
 33           SessionNotCreatedException
 34           UnableToSetCookieException
 35           UnexpectedTagNameException
 36              UnhandledAlertException
 37      UnexpectedAlertPresentException
 38               UnknownMethodException
 39          UnreachableBrowserException
 40          UnsupportedCommandException

                                           Description
 0   This type of Selenium exception occurs when an...
 1   This Selenium exception occurs when an element...
 2   This Exception occurs if an element could not ...
 3   This Exception occurs if the frame target to b...
 4   This Exception occurs when you switch to no pr...
 5   This Exception occurs if the window target to ...
 6   This Selenium exception occurs happens when th...
 7   The WebDriver is acting after you quit the bro...
 8   Thrown when there is not enough time for a com...
 9   This Exception takes place when the WebDriver ...
 10  This type of Exception takes place when there ...
 11  The command may not be completed as the elemen...
 12  This Selenium exception is thrown when any ele...
 13  This happens while interacting with the Firefo...
 14  Exception is used as a placeholder in case if ...
 15  This expectation will occur when IME engine ac...
 16    It takes place when IME support is unavailable.
 17  Navigation made the user agent to hit a certif...
 18  It occurs when an argument does not belong to ...
 19  This happens when you try to add a cookie unde...
 20  This type of Exception matches an interacting ...
 21  It occurs when command can’t be finished when ...
 22  This Exception took place when the given sessi...
 23  This occurs when the frame or window target to...
 24  This issue occurs while executing JavaScript g...
 25  It occurs when you afford to get the session w...
 26  This kind of Exception occurs when the attribu...
 27  It takes place if the target provided to the A...
 28           ContextAware does mobile device testing.
 29  This Exception occurs when no cookie matching ...
 30  This Exception is a subclass of WebDriverExcep...
 31  This Selenium exception is thrown when the ser...
 32            It is not possible to capture a screen.
 33  It happens when a new session could not be suc...
 34  This occurs if a driver is unable to set a coo...
 35  Happens if a support class did not get a web e...
 36  This expectation occurs when there is an alert...
 37  It occurs when there is the appearance of an u...
 38  This Exception happens when the requested comm...
 39  This Exception occurs only when the browser is...
 40  This occurs when remote WebDriver does n’t sen...  ]

In [21]:
driver.close()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [22]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [23]:
#Getting Link
driver.get('http://statisticstimes.com/')
driver.maximize_window()

In [26]:
eco = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute('href')
driver.get(eco)

In [27]:
state = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").get_attribute('href')
driver.get(state)

In [28]:
r = []
rank = []
r = driver.find_elements_by_xpath("//tr[@class='odd']/td[1]")
for i in r:
    rank.append(i.text)

In [29]:
s = []
state = []
s = driver.find_elements_by_xpath("//tr[@class='odd']/td[2]")
for i in s:
    state.append(i.text)

In [30]:
g = []
gdsp_1920 = []
g = driver.find_elements_by_xpath("//tr[@class='odd']/td[3]")
for i in g:
    try:
        gdsp_1920.append(i.text)
    except:
        gdsp_1920.append("NA")

In [31]:
g2 = []
gdsp_1819 = []
g2 = driver.find_elements_by_xpath("//tr[@class='odd']/td[4]")
for i in g2:
    try:
        gdsp_1819.append(i.text)
    except:
        gdsp_1819.append("NA")

In [32]:
s2 = []
share = []
s2 = driver.find_elements_by_xpath("//tr[@class='odd']/td[5]")
for i in s2:
    try:
        share.append(i.text)
    except:
        share.append("NA")

In [33]:
s3 = []
gdp = []
s3 = driver.find_elements_by_xpath("//tr[@class='odd']/td[6]")
for i in s3:
    try:
        gdp.append(i.text)
    except:
        gdp.append("NA")

In [34]:
state_data = pd.DataFrame({})
state_data['RANK'] = rank
state_data['STATE'] = state
state_data['GDSP 19-20'] = gdsp_1920
state_data['GDSP 18-19'] = gdsp_1819
state_data['SHARE'] = share
state_data["GDP IN BILLIONS"] = gdp

In [35]:
state_data

,RANK,STATE,GDSP 19-20,GDSP 18-19,SHARE,GDP IN BILLIONS
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
2,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
3,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
4,9,Telangana,"969,604","861,031",4.56%,130.791
5,11,Kerala,-,"781,653",4.14%,118.733
6,13,Haryana,"831,610","734,163",3.89%,111.519
7,15,Punjab,"574,760","526,376",2.79%,79.957
8,17,Assam,-,"315,881",1.67%,47.982
9,19,Jharkhand,"328,598","297,204",1.57%,45.145
10,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
11,23,Goa,"80,449","73,170",0.39%,11.115
12,25,Chandigarh,-,"42,114",0.22%,6.397
13,27,Meghalaya,"36,572","33,481",0.18%,5.086
14,29,Manipur,"31,790","27,870",0.15%,4.233
15,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
16,33,Andaman & Nicobar Islands,-,-,-,-
17,1,Maharashtra,-,"2,332,992",13.97%,-
18,3,Uttar Pradesh,"1,495,758","1,404,761",8.41%,"1,015,735"
19,5,Gujarat,-,"1,322,936",7.92%,-
20,7,Rajasthan,"916,014","845,247",5.06%,"630,693"
21,9,Andhra Pradesh,"875,429","776,140",4.65%,"595,605"
22,11,Kerala,-,"707,542",4.24%,-
23,13,Haryana,"755,790","666,075",3.99%,"514,983"
24,15,Punjab,"517,521","472,506",2.83%,"374,015"
25,17,Assam,-,"282,782",1.69%,-
26,19,Chhattisgarh,"288,041","266,537",1.60%,"210,837"
27,21,Himachal Pradesh,"143,063","133,303",0.80%,"107,171"
28,23,Goa,"72,181","66,060",0.40%,"56,810"
29,25,Chandigarh,-,"37,571",0.22%,-
30,27,Meghalaya,"32,833","29,544",0.18%,"23,564"
31,29,Sikkim,"28,391","25,141",0.15%,"17,060"
32,31,Arunachal Pradesh,-,"22,488",0.13%,-
33,33,Andaman & Nicobar Islands,-,-,-,-

In [36]:
driver.close()

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https://www.billiboard.com/ You have to find the following details:

Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [37]:
#first connect to web driver
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [38]:
# opening required page on the browser.

driver.get('https://www.billboard.com/')

In [39]:
# Clicking on the 'Charts'.

driver.find_element_by_xpath("//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex").click()
time.sleep(6)

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression //li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex' is not a valid XPath expression.
  (Session info: chrome=96.0.4664.110)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F30C43+2493507]
	Ordinal0 [0x00ECA4B1+2073777]
	Ordinal0 [0x00DD2608+1058312]
	Ordinal0 [0x00DD4D34+1068340]
	Ordinal0 [0x00DD4BFE+1068030]
	Ordinal0 [0x00DD4E60+1068640]
	Ordinal0 [0x00DFC7E8+1230824]
	Ordinal0 [0x00E26C62+1404002]
	Ordinal0 [0x00E1597A+1333626]
	Ordinal0 [0x00E25038+1396792]
	Ordinal0 [0x00E1580B+1333259]
	Ordinal0 [0x00DF2314+1188628]
	Ordinal0 [0x00DF316F+1192303]
	GetHandleVerifier [0x010B7BF6+1548950]
	GetHandleVerifier [0x0116461C+2256060]
	GetHandleVerifier [0x00FBC13B+518107]
	GetHandleVerifier [0x00FBB1E0+514176]
	Ordinal0 [0x00ECF53D+2094397]
	Ordinal0 [0x00ED3418+2110488]
	Ordinal0 [0x00ED3552+2110802]
	Ordinal0 [0x00EDCE81+2150017]
	BaseThreadInitThunk [0x7652FA29+25]
	RtlGetAppContainerNamedObjectPath [0x778C7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x778C7A6E+238]

# 7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [40]:
#importing driver
##opening chrome window
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")
#Getting Link
driver.get('https://www.naukri.com/')

In [41]:
recr = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
driver.get(recr)

In [42]:
#finding job bt different element
search_job = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search_job.send_keys('Data Science')

In [43]:
#clicking Search button
search_btn = driver.find_element_by_id("qsbFormBtn")
search_btn.click()

In [44]:
names = []
des = []
loc = []
comp =[]
skills = []

In [45]:
skill_tag = driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
block = driver.find_elements_by_xpath("//p[@class='highlightable']")

In [46]:
for i in block:
#Scrapping Name
    if len(i.text.split('\n')) == 4:
        try:
            names.append(i.text.split('\n')[0])
        except NoSuchElementException as e:
            names.append("--")
    else:
        names.append("--")

In [47]:
#Scrapping Designation
for i in block:    
    if len(i.text.split('\n')) == 4:
        try:
            des.append(i.text.split('\n')[1])
        except NoSuchElementException as e:
            des.append("--")
    else:
        des.append("--")

In [48]:
#Scrapping Company
for i in block:
    if len(i.text.split('\n')) == 4:
        try:
            comp.append(i.text.split('\n')[2])
        except NoSuchElementException as e:
            comp.append("--")
    else:
        comp.append("--")

In [49]:
#Scrapping location
for i in block:
    if len(i.text.split('\n')) == 4:
        try:
            loc.append(i.text.split('\n')[3])
        except NoSuchElementException as e:
            loc.append("--")
    else:
        loc.append("--")

In [50]:
#Scrapping Skills they hire for
for i in skill_tag:
    try:
        skills.append(i.text)
    except NoSuchElementException as e:
        skills.append("--")

In [51]:
#making dataframe
df = pd.DataFrame({'Name':names,'Designation':des,'Company':comp,'Skills they hire for':skills,'location':loc})

In [52]:
df

,Name,Designation,Company,Skills they hire for,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,--,--,--,"Signal Processing, Machine Learning, Neural Ne...",--
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,--,--,--,"Machine Learning, Data Science, Product Manage...",--
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

In [53]:
driver.close()

# 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [54]:
#importing driver
##opening chrome window
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")
#Getting Link
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [55]:
# Creating lists to store data

book=[]
author=[]
sold=[]
publisher=[]
genre=[]

In [56]:
# Scraping data

for i in range(0,100):
    
# Scraping the book name
    
    b = driver.find_elements_by_id("table-cell-10943-{}-1".format(i))
    for j in b:
            book.append(j.text)

In [57]:
# Scraping the author name
for i in range(0,100):
    a = driver.find_elements_by_id("table-cell-10943-{}-2".format(i))
    for j in a:
        author.append(j.text)

In [58]:
 # Scraping the volumes sold
for i in range(0,100):
    s = driver.find_elements_by_id("table-cell-10943-{}-3".format(i))
    for j in s:
        sold.append(j.text)

In [59]:
 # Scraping the publisher
for i in range(0,100):
    p = driver.find_elements_by_id("table-cell-10943-{}-4".format(i))
    for j in p:
        publisher.append(j.text)

In [60]:
# Scraping the genre
for i in range(0,100):
    g = driver.find_elements_by_id("table-cell-10943-{}-5".format(i))
    for j in g:
        genre.append(j.text)

In [61]:
# Creating dataframe

x= {'Book Name':book, 'Author Name': author, 'Volumes Sold': sold, 'Publisher':publisher, 'Genre': genre}
df= pd.DataFrame(x)
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [62]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [63]:
#importing driver
##opening chrome window
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")

In [64]:
#Getting Link
driver.get('https://www.imdb.com/list/ls095964455/')

In [65]:
#making list
names = []
year = []
gener = []
runtime =[]
rating = []
votes = []

In [66]:
name_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
#exctacting Name
for i in name_tag:
    try:
        names.append(i.text)
    except NoSuchElementException as e:
        names.append("-")

In [67]:
year_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]")
#exctacting Year Span
for i in year_tag:
    try:
        year.append(i.text)
    except NoSuchElementException as e:
        year.append("-")

In [68]:
runtime_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[1]/span[3]")
#exctacting Runtime
for i in runtime_tag:
    try:
        runtime.append(i.text)
    except NoSuchElementException as e:
        runtime.append("-")

In [69]:
gener_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[1]/span[5]")
#exctacting Gener
for i in gener_tag:
    try:
        gener.append(i.text)
    except NoSuchElementException as e:
        gener.append("-")

In [70]:
rating_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/div[1]/div[1]")
#exctacting Rating
for i in rating_tag:
    try:
        rating.append(i.text)
    except NoSuchElementException as e:
        rating.append("-")

In [71]:
votes_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
#exctacting Votes
for i in votes_tag:
    try:
        votes.append(i.text)
    except NoSuchElementException as e:
        votes.append("-")

In [72]:
#making dataframe
df = pd.DataFrame({'Name':names,'Year Span':year,'Runtime':runtime,'Gener':gener,'Rating':rating,'Votes':votes})
df

,Name,Year Span,Runtime,Gener,Rating,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.2,"1,919,393"
1,Stranger Things,(2016– ),51 min,"Drama, Fantasy, Horror",8.7,"944,302"
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.2,"918,490"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.5,"275,009"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"235,387"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,"Drama, Fantasy",7.5,"46,895"
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8,"57,691"
97,Criminal Minds,(2005–2020),42 min,"Crime, Drama, Mystery",8.1,"181,924"
98,Scream: The TV Series,(2015–2019),45 min,"Comedy, Crime, Drama",7.1,"38,032"
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6,"216,110"

In [73]:
driver.close()

# 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [74]:
#importing driver
##opening chrome window
driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe")#Getting Link
driver.get('https://archive.ics.uci.edu/')

In [75]:
#Clicking on view all set button
try:
    driver.find_element_by_xpath("//*[text()='View ALL Data Sets']").click()
    
except NoSuchElementException as e:
    element = WebDriverWait(driver, 30).until(ec.visibility_of_element_located((By.XPATH,"//*[text()='View ALL Data Sets']")))
    element.click()

In [76]:
#downloading page source
html = driver.page_source

In [77]:
#reading HTML
df = pd.read_html(html)

In [78]:
df[5].rename(columns=df[5].iloc[0], inplace = True)
count = df[5].index.stop
ds = df[5].iloc[1:count:2]
ds.reset_index(inplace = True)

In [79]:
ds

,index,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,3,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,5,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
3,7,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
4,9,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...,...
617,1235,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,1237,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,1239,Maternal Health Risk Data Set,NaN,Classification,NaN,1014,7,2020
620,1241,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,1243,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [80]:
driver.close()